<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Documentation/documentation.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
    <link rel="stylesheet" href="/components/Button/button.css"> 
    <link rel="stylesheet" href="/components/Input/input.css">
    <title>Input </title>
</head>

<body>
    <nav class="navigation">
        <h1>SUPER UI</h1>
        <ul class="navigation__list">
          <li><a class="navigation__list--item" href="/index.html">Home</a></li>
          <li><a class="navigation__list--item nav--active" href="/Documentation/documentation.html">Docs</a></li>
          <li><a class="navigation__list--item" href="#">Dark</a></li>
        </ul>
      </nav>
      <div class="content">
    
        <div class="sidebar">
    
          <h3>Get Started</h3>
          <div class="divider"></div>
          <ul>
            <li><a href="/Documentation/documentation.html">Introduction</a></li>
            <li><a href="/Utilities/Colors/color.html">Colors</a></li>
            <li><a href="/Utilities/Text Utility/textUtil.html">Text Utility </a></li>
            <li><a href="/Utilities/Conclusion/conclusion.html">Conclusion</a></li>
            
          
          
        </ul>
          <h3>Components</h3>
          <div class="divider"></div>
          <ul>
            <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
            <li><a href="/components/Alert/badge/badge.html">Badge</a></li>
            <li><a href="/components/Alert/alert.html">Alert</a></li>
            <li><a href="/components/Button/button.html">Button</a></li>
            <li><a href="/components/card/card.html">Card </a></li>
            <li><a href="/components/Images Component/images.html">Image</a></li>
            <li><a class="sidebar--active" href="/components/Input/input.html">Input</a></li>
            <li><a href="/components/modals/modal.html">Modal</a></li>
            <li><a href="/components/Navigation/navigation.html">Navigation</a></li>
            <li><a href="/components/List/list.html">Lists</a></li>
            <li><a href="/components/Ratings/rating.html">Rating</a></li>
            <li><a href="/components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/components/Grids/grid.html">Grids</a></li>
            <li><a href="/components/Slider/slider.html">Slider</a></li>
            
    
          </ul>
    
    
        </div>
    
        <div class="main--content">

            <h1 class="heading">Input</h1>

            <p>Input's are used everywhere in websites , So Super UI is providing various inputs to you incorporate in
                your websites .</p>

            <div class="divider"></div>




            <h2>TextBox</h2>
            <p>This can be used as message box , or a contact me form in your website . You can use it by using class
                <code>textbox--container</code> in the parent and write yur message in <code>textarea</code> tag. </p>


            <div class="showcase">

                <div class="textbox--container">

                    <textarea cols="30" rows="10">Write Something Here !!
                 </textarea>
                    <button class="btn btn--icon btn--primary"><i class="fas fa-paper-plane"></i>Send</button>
                </div>
            </div>

            <div class="container">


                <div class="code-wrapper">

                    <pre>

                  <code class="code">
      &lt;div class="textbox--container">
      
      &lt;textarea cols="30" rows="10" >Write Something Here !!&lt;/textarea>
      
      &lt;button class="btn btn--icon btn--primary" >&lt;i class="fas fa-paper-plane">&lt;/i>Send&lt;/button>
                   
                  </code> </div>
                </pre>


                    <button id="copy-btn">Copy</button>

                </div>
                <div class="divider"></div>


                <h2>Input with Validation and Error Style</h2>
                <p>These types of inputs can be used at Login page or sign up page . They can be used as , given below
                    code snippets . </p>

                <div class="showcase">

                    <div class="input--text">
                        <input class="input input--status__none" type="text" placeholder="Enter Something">
                        <div class="input--status__message--none">You have to fill this . </div>
                    </div>


                    <div class="input--text">
                        <input class="input input--status__error" type="text" placeholder="Enter Something">
                        <div class="input--status__message--error">This email exists</div>
                    </div>

                    <div class="input--text">
                        <input class="input input--status__success" type="text" placeholder="Enter Something">
                        <div class="input--status__message--success">Login Successful</div>
                    </div>
                </div>



                <div class="container">
                    <div class="code-wrapper">
                        <pre>
                <code class="code">
      &lt;div class="input--text">
      &lt;input class="input input--status__none" type="text" placeholder="Enter Something">
      &lt;div class="input--status__message--none">You have to fill this .&lt;/div>
      &lt;/div>
                  
                  
      &lt;div class="input--text">
      &lt;input class="input input--status__error" type="text" placeholder="Enter Something">
      &lt;div class="input--status__message--error">This email exists&lt;/div>
      &lt;/div>
                  
      &lt;div class="input--text">
      &lt;input class="input input--status__success" type="text" placeholder="Enter Something">
      &lt;div class="input--status__message--success">Login Successful&lt;/div>
      &lt;/div>
      &lt;/div></code>
              </pre>
                        <button id="copy-btn">Copy</button>
                    </div></div>
                    <div class="nav--dueTo--mediaquery">
                        <div class="divider--down">***********************</div>
                        <div class="navigation--down">
                          <a href="/components/Images Component/images.html"><button class="btn--down">Image</button></a>
                          <a href="/components/modals/modal.html"><button class="btn--down">Modal</button></a>
                        </div>
                      </div>
                </div>
                <script src="https://kit.fontawesome.com/0dbbe70cac.js" crossorigin="anonymous"></script>
            </div>
</body>

</html>