.h1{
    font-size: 5rem !important;
    font-weight: 900;
    
}
.h2{
    font-size: 4rem !important;
   
}
.h3{
    font-size: 3rem !important;
    font-weight: 900;
}
.h4{
    font-size: 2rem  !important;
    font-weight: 900;
}
.h5{
    font-size: 1rem !important ;
    font-weight: 900;
}