
:root {

    /* Color scheme for background color ,  navigation and yellow color of background   */

    --superUI-background-Color: #c0fdff;
    --superUI-yellow-Color: #ffe066;
    --superUI-blue-Color: #247ba0;



/* Color scheme of code Snippets */

    --white-showCase: #f5f5f5;
    --code--background: #071e3d;
    --copy--button__hover:#1f428790;


/* Shadow */
    --shadow:rgba(0, 0, 0, 0.75);
    --hoverSidebar:rgba(173, 202, 206, 0.637);

/* Alert BackGround Colors and Text Colors  */

    --primary--bg: #cfe2ff;
    --primary--text: #084298;


    --secondary--bg: #E2E3E5;
    --secondary--text: #41464B;

    --success--bg: #d1e7dd;
    --success--text: #0f5132;

    --warning--bg: #ffecb5;
    --warning--text: #842029;

    --danger--bg: #f5c2c7;
    --danger--text: #842029;

    --info--bg: #cff4fc;
    --info--text: #055160;

    --light--bg: #fdfdfe;
    --light--text: #636464;

    --dark--bg: #d3d3d4;
    --dark--text: #141619;


/* General color schemes to use evry where */


    --primary: #0000ff;
    --secondary:#808080;
    --success:#008000;
    --danger:#ff0000;
    --warning:#ffff00;
    --info:#add8e6;
    --light:#d3d3d3;
    --dark:#000000;
    --white:#ffffff;
    --grey:#808080;
    --voilet:#8a2be2;
    --teal:#008080;
    

/* Snackbar Color */
    --snackbar_black:#323232;
    --snackbar_violet:#B381F0;


/* E commerce extra colors  */

    --whiteBackground:#f8f8ff;
    --wheat : #f5deb3;
    --lightDark: #232524;
    --lightWheat:#DEC99F;

/* quiz app extra colors */

    --quiz--primaryColor: #c5d5cb;
    --quiz--secondaryColor: #9fa8a3;
    --quiz--tertiaryColor: #e3e0cf;

}

/* Classes For TEXT COLOR  */

.text_primary{
    color: var(--primary);
}
.text_secondary {
    color: var(--secondary);
}
.text_success{
    color: var(--success);
}
.text_danger{
    color: var(--danger);
}
.text_warning{
    color: var(--warning);
}
.text_info{
    color: var(--lightblue);
}
.text_light{
    color: var(--lightgrey);
}
.text_dark{
    color: var(--dark);
}
.text_white{
    color: var(--white);
}


/* Classes for BACKGROUND COLOR */

.bg_primary{
    background-color: var(--primary);
}
.bg_secondary{
    background-color: var(--secondary);
}
.bg_success{
    background-color: var(--success);
}
.bg_danger{
    background-color: var(--danger);
}
.bg_warning{
    background-color: var(--warning);
}
.bg_info{
    background-color: var(--info);
}
.bg_light{
    background-color: var(--light);
}
.bg_dark{
    background-color: var(--dark);
}
.bg_white{
    background-color: var(--white);
}

