<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Documentation/documentation.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
    <link rel="stylesheet" href="/components/Alert/alert.css">
    <title>Alert</title>
</head>
<body>
  <nav class="navigation">
    <h1>SUPER UI</h1>
    <ul class="navigation__list">
      <li><a class="navigation__list--item" href="/index.html">Home</a></li>
      <li><a class="navigation__list--item nav--active" href="/Documentation/documentation.html">Docs</a></li>
      <li><a class="navigation__list--item" href="#">Dark</a></li>
    </ul>
  </nav>
  <div class="content">

    <div class="sidebar">

      <h3>Get Started</h3>
      <div class="divider"></div>
      <ul>
        <li><a href="/Documentation/documentation.html">Introduction</a></li>
        <li><a href="/Utilities/Colors/color.html">Colors</a></li>
        <li><a href="/Utilities/Text Utility/textUtil.html">Text Utility </a></li>
        <li><a href="/Utilities/Conclusion/conclusion.html">Conclusion</a></li>
        
      
      
    </ul>
      <h3>Components</h3>
      <div class="divider"></div>
      <ul>
        <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
        <li><a href="/components/Alert/badge/badge.html">Badge</a></li>
        <li><a class="sidebar--active"href="/components/Alert/alert.html">Alert</a></li>
        <li><a href="/components/Button/button.html">Button</a></li>
        <li><a href="/components/card/card.html">Card </a></li>
        <li><a href="/components/Images Component/images.html">Image</a></li>
        <li><a href="/components/Input/input.html">Input</a></li>
        <li><a href="/components/modals/modal.html">Modal</a></li>
        <li><a href="/components/Navigation/navigation.html">Navigation</a></li>
        <li><a href="/components/List/list.html">Lists</a></li>
        <li><a href="/components/Ratings/rating.html">Rating</a></li>
        <li><a href="/components/Snackbar/snackbar.html">Snackbar</a></li>
        <li><a href="/components/Grids/grid.html">Grids</a></li>
        <li><a href="/components/Slider/slider.html">Slider</a></li>

      </ul>


    </div>

    <div class="main--content">
          <h1 class="heading">Alert</h1>
  
          <p>An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
          
          <div class="divider"></div>
          
          <h2>Simple Alert </h2>
          <p>This can be created by using <code>alert</code> class and type of <code>variant</code></p>
          <div class="showcase">
          <div class="alert alert--primary">The simple primary alert - Check it out  </div>
          <div class="alert alert--secondary">The simple secondary alert - Check it out </div>
          <div class="alert alert--success">The simple success alert - Check it out </div>
          <div class="alert alert--danger">The simple danger alert - Check it out </div>
          <div class="alert alert--warning">The simple warning alert - Check it out </div>
          <div class="alert alert--info">The simple info alert - Check it out </div>
          <div class="alert alert--light">The simple light alert - Check it out </div>
          <div class="alert alert--dark">The simple dark alert - Check it out </div>
  
        </div>

        <div class="container">
          <div class="code-wrapper">
     <pre>
          <code class="code">
&lt;div class="alert alert--primary">The simple primary alert - Check it out  &lt;/div>

&lt;div class="alert alert--secondary">The simple secondary alert - Check it out &lt;/div>

&lt;div class="alert alert--success">The simple success alert - Check it out &lt;/div>

&lt;div class="alert alert--danger">The simple danger alert - Check it out &lt;/div>

&lt;div class="alert alert--warning">The simple warning alert - Check it out &lt;/div>

&lt;div class="alert alert--info">The simple info alert - Check it out &lt;/div>

&lt;div class="alert alert--light">The simple light alert - Check it out &lt;/div>

&lt;div class="alert alert--dark">The simple dark alert - Check it out &lt;/div>
              </code>
            </pre>


<button id="copy-btn">Copy</button>

          </div>
        </div>
        <div class="divider"></div>

        <h2>Outline Alert </h2>
        <p>This can be created by using <code>alert</code> class and using <code>outline--variant</code></p>
        <div class="showcase">
          <div class="alert outline--primary">The outline primary alert - Check it out  </div>
          <div class="alert outline--secondary">The outline secondary alert - Check it out </div>
          <div class="alert outline--success">The outline success alert - Check it out </div>
          <div class="alert outline--danger">The outline danger alert - Check it out </div>
          <div class="alert outline--warning">The outline warning alert - Check it out </div>
          <div class="alert outline--info">The outline info alert - Check it out </div>
          <div class="alert outline--light">The outline light alert - Check it out </div>
          <div class="alert outline--dark">The outline dark alert - Check it out </div>
  
        </div>
        <div class="container">
         

          <div class="code-wrapper">

            <pre>

              <code class="code">
&lt;div class="alert outline--primary">The outline primary alert - Check it out  &lt;/div>

&lt;div class="alert outline--secondary">The outline secondary alert - Check it out &lt;/div>

&lt;div class="alert outline--success">The outline success alert - Check it out &lt;/div>

&lt;div class="alert outline--danger">The outline danger alert - Check it out &lt;/div>

&lt;div class="alert outline--warning">The outline warning alert - Check it out &lt;/div>

&lt;div class="alert outline--info">The outline info alert - Check it out &lt;/div>

&lt;div class="alert outline--light">The outline light alert - Check it out &lt;/div>

&lt;div class="alert outline--dark">The outline dark alert - Check it out &lt;/div>
              </code>
            </pre>
<button id="copy-btn">Copy</button>

          </div></div>

              <div class="nav--dueTo--mediaquery">
      <div class="divider--down">***********************</div>
      <div class="navigation--down">
        <a href="/components/Alert/badge/badge.html"><button class="btn--down">Badges</button></a>
        <a href="/components/Button/button.html"><button class="btn--down">Buttons</button></a>
      </div>
    </div>

        </div>

        </div>

        <script src="/Documentation/Code Snippets/code.js"></script>
      </div>
</body>
</html>